<h4 class='title is-4'>{{t 'history_heading'}}</h4>
<table id='historyTable' class='table is-striped is-hoverable is-fullwidth has-text-left'>
  <thead>
    <tr>
      <th>{{t 'domain'}}</th>
      <th>{{t 'status'}}</th>
      <th>{{t 'last_modified'}}</th>
    </tr>
  </thead>
  <tbody></tbody>
  </table>
<p id='historyEmpty' class='has-text-centered is-hidden'>{{t 'history_empty'}}</p>
<p class='control'>
  <button id='clearHistory' class='button is-small is-danger'>{{t 'clear_history'}}</button>
</p>
