<!-- Close whoisdigger, modal -->
<div id='appModalExit' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>{{t 'close_modal_title'}}</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>
      {{t 'close_modal_body'}}
      <br />
      {{t 'close_modal_lost'}}
    </section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='appModalExitButtonYes' class='button is-danger'>{{t 'yes'}}</button>
      <button id='appModalExitButtonNo' class='button'>{{t 'no'}}</button>
    </footer>
  </div>
</div>

<!-- Restore defaults confirmation -->
<div id='restoreDefaultsModal' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>{{t 'restore_defaults_title'}}</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>{{t 'restore_defaults_confirm'}}</section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='restoreDefaultsYes' class='button is-danger'>{{t 'yes'}}</button>
      <button id='restoreDefaultsNo' class='button'>{{t 'no'}}</button>
    </footer>
  </div>
</div>

<!-- Delete configuration confirmation -->
<div id='deleteConfigModal' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>{{t 'delete_config_title'}}</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>{{t 'delete_config_body'}}</section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='deleteConfigYes' class='button is-danger'>{{t 'yes'}}</button>
      <button id='deleteConfigNo' class='button'>{{t 'no'}}</button>
    </footer>
  </div>
</div>
