<h4 class='title is-4 has-text-centered'>{{t 'options_heading'}}</h4>
<h5>
  {{t 'options_desc_1'}}<br />
  {{t 'options_desc_2'}}
</h5>
<hr />
<p id='settings-not-loaded' class='has-text-warning is-hidden'>
  {{t 'settings_not_loaded'}}
</p>
<table id='configStats' class='table is-narrow is-fullwidth mb-2'>
  <tbody>
    <tr>
      <th>{{t 'config_file_path'}}</th>
      <td id='stat-config-path'></td>
    </tr>
    <tr>
      <th>{{t 'config_file_size'}}</th>
      <td id='stat-config-size'></td>
    </tr>
    <tr>
      <th>{{t 'loaded'}}</th>
      <td id='stat-config-loaded'></td>
    </tr>
    <tr>
      <th>{{t 'last_modified'}}</th>
      <td id='stat-config-mtime'></td>
    </tr>
    <tr>
      <th>{{t 'permissions'}}</th>
      <td id='stat-config-perms'></td>
    </tr>
    <tr>
      <th>{{t 'data_folder_path'}}</th>
      <td id='stat-data-path'></td>
    </tr>
    <tr>
      <th>{{t 'data_folder_size'}}</th>
      <td id='stat-data-size'></td>
    </tr>
  </tbody>
</table>
<div id='opActions' class='field is-grouped is-grouped-multiline mb-2'>
  <p class='control has-icons-left is-expanded'>
    <input
      id='opSearch'
      class='input is-small'
      type='text'
      placeholder='{{t "search_placeholder"}}'
    />
    <span class='icon is-small is-left'><i class='fas fa-search'></i></span>
  </p>
  <p class='control'>
    <button id='restoreDefaults' class='button is-small is-danger'>{{t 'restore_defaults'}}</button>
  </p>
  <p class='control'>
    <button id='reloadSettings' class='button is-small is-info'>{{t 'reload'}}</button>
  </p>
  <p class='control'>
    <button id='saveConfig' class='button is-small is-success'>{{t 'save'}}</button>
  </p>
  <p class='control'>
    <button id='openDataFolder' class='button is-small is-info'>{{t 'open_data_folder'}}</button>
  </p>
  <p class='control'>
    <button id='downloadModel' class='button is-small is-info'>{{t 'download_model'}}</button>
  </p>
  <p class='control'>
    <button id='reloadApp' class='button is-small is-warning'>{{t 'reload_app'}}</button>
  </p>
  <p class='control'>
    <button id='deleteConfig' class='button is-small is-danger'>{{t 'delete_config'}}</button>
  </p>
</div>
<p id='opSearchNoResults' class='has-text-centered is-hidden'>
  {{t 'no_config_found'}}
</p>
<table id='opTable' class='table is-striped is-hoverable is-fullwidth has-text-left'></table>
<h4 class='title is-4 mt-5'>{{t 'history_heading'}}</h4>
<table id='historyTable' class='table is-striped is-hoverable is-fullwidth has-text-left'>
  <thead>
    <tr>
      <th>Domain</th>
      <th>Status</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<p id='historyEmpty' class='has-text-centered is-hidden'>{{t 'history_empty'}}</p>
<p class='control'>
  <button id='clearHistory' class='button is-small is-danger'>{{t 'clear_history'}}</button>
</p>
<button id='settingsBackToTop' class='button is-info is-small back-to-top'>
  <span class='icon is-small'>
    <i class='fas fa-arrow-up'></i>
  </span>
</button>
<button id='settingsGoToBottom' class='button is-info is-small go-to-bottom'>
  <span class='icon is-small'>
    <i class='fas fa-arrow-down'></i>
  </span>
</button>
